@import url('https://fonts.googleapis.com/css2?family=Rubik+Lines&display=swap');

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../media/park.jpg") no-repeat center/cover; 
  font-family: $font-family-main;
}
