
$color-c-bg: rgba(0, 0, 0, 0.7);
$color-s1-bg: rgba(200, 50, 30, 0.6);
$color-s2-bg: rgba(200, 150, 50, 0.7);
$color-border: white;
$color-text: white;


$font-family-main: "Rubik Lines", sans-serif;
$font-weight-main: 50;
$font-size-box: 200px;


$box-size: 300px;


$slide-duration: 1.5s;
$slide-ease: ease;
$slide-transform-start: translateY(-200px);
